*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(10, 97, 147);
    display: flex;
    justify-content: center;
}

.container{
    margin-top: 50px;
    width: 420px;
    height: 340px;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

h5{
    color: black;
    font-weight: 400;
    margin-bottom: 2px;
    margin-top: 15px;
}

input{
    border-radius: 0;
    border: 0.5px solid gray;
    width: 300px;
    height: 30px;
}

button{
    font-weight: 600;
    margin-top: 20px;
    width: 305px;
    height: 40px;
    left: 135px;
    color: coral;
    border: none;
    border-radius: 5px;
    background-color: #5e35b1;
}

button:hover{
    color: rgb(32, 218, 32);
    background-color: #211796;
}

h2{
    text-transform: uppercase;
}

a{
    color: rgb(0, 85, 255);
}

.loginP{
    height: 270px;
}

a:hover{
    zoom: 1.25;
}


